<!--
model DemoMVCCore.Model.EmployeeClass;
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Retrieve from Views/Home</h1>
    <!-- <h3>@ViewBag.PageTitle</h3>-->
    <h3>    </h3>
    <div>
        Name: @Model.Name
    </div>
    <div>
        E-mail: @Model.Email
    </div>
    <div>
        Department: @Model.Dept
    </div>
</body>
</html>